* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: #ccc;
}

.section {
    padding: 100px 20px;
}

.section-header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 80px auto;
}

.section-subtitle {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #facc14;
    margin-bottom: 15px;
}

.section-title {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.1;
}

.section-description {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #ccc;
}

.section-hero {
    background-image: url(hero-gym.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-top: 80px;
}

.section-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;

}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;

    position: relative;
    z-index: 2;
}

.hero-content {
    max-width: 700px;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}

.hero-title {
    line-height: 1;
    letter-spacing: 0px;
    font-size: 96px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-description {
    max-width: 500px;
    font-family: "Inter", sans-serif;
    color: #ccc;
    font-size: 18px;
    line-height: 25px;
    margin-top: 30px;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #facc14;
    padding: 8px 15px;
    border-radius: 50px;
    background-color: rgba(225, 212, 37, 0.158);
    border: 1px solid #facc14;
    margin-bottom: 20px;
}

.icon-fire{
    width: 18px;
    height: 18px;
    stroke: #facc14;
}

.section-diferencial-icon{
    width: 22px;
    height: 22px;
    color: #facc14;
}

.icon-box{
    display: inline-flex;
    background-color: rgba(225, 212, 37, 0.158);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.navbar {
    background-color: black;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.navbar li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

.navbar a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #ccc;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #facc14;
}

.button-group {
    display: flex;
    gap: 15px;
}

.btn-primary {
    margin-top: 25px;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    background-color: #facc14;

    min-width: 220px;
    height: 44px;

    padding: 0 25px;
    border-radius: 5px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-outline {
    margin-top: 25px;
    font-family: "Oswald", sans-serif;
    border: 1px solid white;
    padding: 0 25px;

    min-width: 220px;
    height: 44px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-transform: uppercase;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-primary,
.btn-outline {
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn-primary:hover,
.btn-outline:hover {
    transform: translateY(-2px);
    opacity: 0.95;
}

.section-diferencial {
    color: white;
    background-color: black;
}


.section-diferencial .section-title {
    margin-bottom: 60px;
}

.diferencial-grid {
    width: 100%;
    margin: 0 auto;
    max-width: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.diferencial-item {
    background-color: #141414;
    padding: 25px;
    border-radius: 5px;
    text-align: left;
    transition: 0.3s ease;
    border: 1px solid #292929;
}

.section-diferencial .container{
    max-width: 1300px;
}

.diferencial-item p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ccc;
    line-height: 26px;
}

.diferencial-item:hover {
    transform: translateY(-5px);
    border-color: #facc14;
}

.diferencial-item h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.section-alimentacao {
    color: white;
    background-color: #141414;
}

.alimentacao-grid {
    display: grid;
    grid-template-columns: repeat(2, 850px);
    gap: 40px;
    justify-content: center;
}

.alimentacao-photo {
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 12px;
    width: 100%;
}

.alimentacao-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}

.alimentacao-photo:hover img {
    transform: scale(1.05);
}

.alimentacao-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
}

.alimentacao-overlay h3 {
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    margin-bottom: 15px;
}

.alimentacao-overlay ul {
    list-style: none;
    padding: 0;
}

.alimentacao-overlay li {
    font-family: "Inter", sans-serif;
    color: #ccc;
    margin-bottom: 6px;
    line-height: 26px;
    position: relative;
    padding-left: 20px;
}

.alimentacao-overlay li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #facc14;
}

.highlight {
    color: #facc14;
}

.estrutura-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.estrutura-grid img{
    width: 100%;
    display: block;
    height: 251px;
    object-fit: cover;
    transition: transform 0.5s ease;
    transform-origin: center;
    will-change: transform;
}

.estrutura-card{
    border-radius: 5px;
    overflow: hidden;
}

.estrutura-grid img:hover {
    transform: scale(1.05);
}


.section-estrutura .container{
    max-width: 1300px;
}